---
import Layout from '../layouts/Layout.astro';
---

<Layout>

<div  class="container">
<h2>2026</h2>

<div class="wrapper">
<h3>Apr 30</h3>
<h3><span><a href="/music-frame" >Music Frame</a></span></h3>

</div>


</div>


</Layout>

<style>
 
  .wrapper {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    }
  .wrapper h3 {
    margin: 0;
    }
  a {
    color: #486ecf;
    text-decoration: none;
  }
</style>
