---
import Navbar from './Navbar.astro';
---

<header class="site-header">
  <div class="container">
    <h1 class="title">Todd Works</h1>
    <Navbar />
  </div>
</header>

<style>
  .site-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
  }
</style>